<body>
    <header>
      <h1>DogoFresh</h1>
    </header>
  
    <p class="title">Registro de Mascotas</p>
  
    <section class="services">
      <div class="container dogs">
        <div class="card">
          <h5>Nombre del Perro 1</h5>
          <img src="../../../assets/images/services/dog.jpg" alt="Dog 1">
          <button class="details-btn">Más Detalles</button>
        </div>
  
        <div class="card">
          <h5>Nombre del Perro 2</h5>
          <img src="../../../assets/images/services/dog.jpg" alt="Dog 2">
          <button class="details-btn">Más Detalles</button>
        </div>
  
        <div class="card">
          <h5>Nombre del Perro 3</h5>
          <img src="../../../assets/images/services/dog.jpg" alt="Dog 3">
          <button class="details-btn">Más Detalles</button>
        </div>
      </div>
      <div class="container cats">
        <div class="card">
          <h5>Nombre del Gato 1</h5>
          <img src="../../../assets/images/services/cat.png" alt="Cat 1">
          <button class="details-btn">Más Detalles</button>
        </div>
  
        <div class="card">
          <h5>Nombre del Gato 2</h5>
          <img src="../../../assets/images/services/cat.png" alt="Cat 2">
          <button class="details-btn">Más Detalles</button>
        </div>
  
        <div class="card">
          <h5>Nombre del Gato 3</h5>
          <img src="../../../assets/images/services/cat.png" alt="Cat 3">
          <button class="details-btn">Más Detalles</button>
        </div>
      </div>
    </section>
  
    <button class="save-profile-btn">Guardar Perfil</button>
  </body>
