<p>register-address works!</p>
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="card p-5">
                <h2 class="text-center mb-4">Sus Direcciones</h2>
                <form>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="nombre" class="form-label">Calle Primaria</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Usuario" required>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="identificacion" class="form-label">Calle Secundaria</label>
                            <input type="text" class="form-control" id="identificacion" placeholder="1758236984" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="nacimiento" class="form-label">Número de Casa</label>
                            <input type="date" class="form-control" id="nacimiento" required>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <label for="edad" class="form-label">Nombre del Sector</label>
                            <input type="int" class="form-control" id="edad" placeholder="21" required>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn px-5">Registrarse</button>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <caption colspan="4" style="background-color: orange; width: 100%; text-align: center;">Título de la Tabla</caption>
                          <thead>
                            <tr>
                                <caption colspan="4" style="background-color: orange; text-align: center;">Título de la Tabla</caption>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Calle Primaria</td>
                              <td>Calle Secundaria</td>
                              <td>Número de Casa</td>
                              <td>Nombre del Sector</td>
                            </tr>
                            <!-- Puedes agregar más filas según sea necesario -->
                          </tbody>
                        </table>
                      </div>
                      
                </form>
            </div>
        </div>
    </div>
</div>
