<div class="container-fluid mt-5">
  <div class="row">
    <!-- En esta columna se llama al sidebar que esta en shared -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10 main-content">
      <h2 class="text-center">Listado de Registro de Mascotas</h2>
<!-- 
      <section class="services">
        <div class="container dogs">
          <div class="card">
            <h5>Nombre del Perro 1</h5>
            <img src="../../../assets/images/services/dog.jpg" alt="Dog 1">
            <button class="details-btn">Más Detalles</button>
          </div>

          <div class="card">
            <h5>Nombre del Perro 2</h5>
            <img src="../../../assets/images/services/dog.jpg" alt="Dog 2">
            <button class="details-btn">Más Detalles</button>
          </div>

          <div class="card">
            <h5>Nombre del Perro 3</h5>
            <img src="../../../assets/images/services/dog.jpg" alt="Dog 3">
            <button class="details-btn">Más Detalles</button>
          </div>
        </div>
        <div class="container cats">
          <div class="card">
            <h5>Nombre del Gato 1</h5>
            <img src="../../../assets/images/services/cat.png" alt="Cat 1">
            <button class="details-btn">Más Detalles</button>
          </div>

          <div class="card">
            <h5>Nombre del Gato 2</h5>
            <img src="../../../assets/images/services/cat.png" alt="Cat 2">
            <button class="details-btn">Más Detalles</button>
          </div>

          <div class="card">
            <h5>Nombre del Gato 3</h5>
            <img src="../../../assets/images/services/cat.png" alt="Cat 3">
            <button class="details-btn">Más Detalles</button>
          </div>
        </div>
      </section> -->

      <div class="row justify-content-center mt-3">
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      
        <div class="card me-4 p-3" style="width: 15rem;">
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="text-center">Nombre mascota</p>
            <button class="btn mt-auto">Detalles</button>
          </div>
        </div>
      </div>

      <button class="save-profile-btn">Guardar Perfil</button>

    </div>
  </div>
</div>