.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F19A56;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    border: solid 1px #ec7519;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

.btn{
    border-radius: 20px;
    background-color: #F19A56;
}

.save-profile-btn {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #F19A56;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
}

.save-profile-btn:hover {
    background-color: #E08948;
}