<p>panel works!</p>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/panel'">
                <div class="card-body">
                    <h5 class="card-title">Panel</h5>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/registerAddress'">
                <div class="card-body">
                    <h5 class="card-title">Register Address</h5>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/userAdministrator'">
                <div class="card-body">
                    <h5 class="card-title">User Administrator</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/profile'">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/careList'">
                <div class="card-body">
                    <h5 class="card-title">Care List</h5>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="card" [routerLink]="'/config/registerRequest'">
                <div class="card-body">
                    <h5 class="card-title">Register Request</h5>
                </div>
            </div>
        </div>
    </div>
</div>