<!-- services.component.html -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Nuestros Servicios</h2>
      <p>Descubre nuestros servicios para cuidar a tu mascota:</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Servicio 1">
        <div class="card-body">
          <h5 class="card-title">Paseo de Perros</h5>
          <p class="card-text">Proporcionamos paseos diarios para mantener a tu perro feliz y saludable.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Servicio 2">
        <div class="card-body">
          <h5 class="card-title">Guardería</h5>
          <p class="card-text">Ofrecemos un ambiente seguro y divertido para que tu perro socialice y juegue.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Servicio 3">
        <div class="card-body">
          <h5 class="card-title">Entrenamiento</h5>
          <p class="card-text">Entrenamiento profesional para enseñar buenos modales y obediencia.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Aqui se llama el footer -->
<app-footer></app-footer>