<!-- home.component.html -->
<body>
  <header>
    <h1>DogoFresh</h1>
</header>

<section class="hero">
    <img src="../../../assets/images/home/home1.jpg" alt="Dog with a leash">
</section>

<section class="carrusel">
  <div class="carrusel-item">
      <img src="../../../assets/images/home/carrusel1.avif" class="d-block w-100" alt="Image 1">
      <div class="image-text"><strong>Alojamiento de perros</strong> <br>Hogar lejos de casa para tu amigo.</div>
  </div>
  <div class="carrusel-item">
      <img src="../../../assets/images/home/carrusel2.avif" class="d-block w-100" alt="Image 2">
      <div class="image-text"><strong>Paseo de perros</strong><br> Ejercicio y diversión garantizados.</div>
  </div>
  <div class="carrusel-item">
      <img src="../../../assets/images/home/carrusel3.jpg" class="d-block w-100" alt="Image 3">
      <div class="image-text"><strong>Cuidado de perros</strong><br>Bienestar y atención integral.</div>
  </div>
  <div class="carrusel-item">
      <img src="../../../assets/images/home/carrusel4.jpg" class="d-block w-100" alt="Image 4">
      <div class="image-text"><strong>Paseadores expertos </strong> <br>Guía segura y amorosa para tu perro.</div>
  </div>
</section>

<p class="title">Conoce Nuestras Ofertas</p>
<section class="offers">
    <div class="offer-text">
        <p>¡Oferta especial! ¿Necesitas un descanso? Aprovecha nuestra oferta y deja que nuestros expertos paseadores den a tu perro la atención y el ejercicio que necesita:</p>
        <button>!Descubre las ofertas!</button>
    </div>
    <div class="offer-image">
        <img src="../../../assets/images/home/ofertas.jpg" alt="Dog walkers">
    </div>
</section>
<p class="title">Nuestros Servicios</p>
<section class="services">
  <div class="container">
    <div class="card">
      <img src="../../../assets/images/home/alojamiento-de-mascotas.png" alt="Alojamiento de mascotas">
      Alojamiento de mascotas
    </div>
    <div class="card">
      <img src="../../../assets/images/home/entrega-a-domicilio.png" alt="Cuidado a domicilio">
      Cuidado a domicilio
    </div>
    <div class="card">
      <img src="../../../assets/images/home/juguete-para-mascotas.png" alt="Visitas a domicilio">
      Visitas a domicilio
    </div>
    <div class="card">
      <img src="../../../assets/images/home/hogar.png" alt="Guarderia de día">
      Guardería de día
    </div>
    <div class="card">
      <img src="../../../assets/images/home/pasea-a-la-mascota.png" alt="Paseo de perros">
      Paseo de perros
    </div>
  </div>
</section>

</body>

<!-- Aqui se llama el footer -->
<app-footer></app-footer>
