<!-- about.component.html -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Sobre Nosotros</h2>
      <p>Somos un equipo comprometido con el bienestar y cuidado de tus mascotas.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h3>Nuestra Misión</h3>
      <p>Nuestra misión es proporcionar servicios de calidad para el cuidado de perros, fomentando su felicidad y salud.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h3>Nuestra Visión</h3>
      <p>Queremos ser reconocidos como líderes en el cuidado de mascotas, brindando atención integral y personalizada.
      </p>
    </div>
  </div>
</div>


<!-- Aqui se llama el footer -->
<app-footer></app-footer>