<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Cuidado de Perros</h5>
          <p>
            Dedicados a brindar el mejor cuidado y entrenamiento para tu perro. ¡Contáctanos hoy para más información!
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Inicio</a></li>
            <li><a href="#" class="text-dark">Servicios</a></li>
            <li><a href="#" class="text-dark">Sobre Nosotros</a></li>
            <li><a href="#" class="text-dark">Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacto</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="mailto:info@cuidadodeperros.com" class="text-dark">@cuidadodeperros.com</a></li>
            <li><a href="tel:+1234567890" class="text-dark">99999999</a></li>
            <li><a href="#" class="text-dark">asdasd</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
      Tus mejores amigos en las mejores manos.
    </div>
  </footer>